<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HealthCare.com</title>
    <link
      rel="icon"
      th:href="@{/img/common/favicon.ico}"
      href="../../static/img/common/favicon.ico"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
  </head>
  <body>
    <header>
      <a href="#" th:href="@{/}"
        ><img
          class="header-logo"
          th:src="@{/img/common/webportal.png}"
          src="../../static/img/common/healthcare.png"
        /><strong>WebPortal.com</strong></a
      >
      <a href="#" th:href="@{/logout}"
        ><img th:src="@{/img/common/exit.svg}" src="../../static/img/common/exit.svg" />ログアウト
      </a>
    </header>
    <main>
      <h1 class="page-title">BMI入力</h1>
      <div class="card">
        <div class="card-content">
          <form method="post" th:action="@{/avgPace}">
            <label for="distance">距離</label>
            <input id="distance" type="text" name="distance" />
            <label for="time">時間</label>
            <input id="time" type="text" name="time" />
            <button type="submit">計算</button>
          </form>
        </div>
      </div>
    </main>
    <footer>&copy; 2024 WebPortal.com</footer>
  </body>
</html>
